@model SistemaGestionVentas.Models.Collections

@{
    ViewBag.Title = "Desactivar cobro";
}

<h2>Desactivar cobro</h2>

<h3>¿Está seguro de desactivar este cobro?</h3>
<h3>Este cobro no podrá ser reactivado una vez se desactiva.</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Fecha y hora</dt>
        <dd>@Model.collection_date.ToString("dd/MM/yyyy HH:mm")</dd>

        <dt>Monto cobrado</dt>
        <dd>@Html.DisplayFor(model => model.collection_amount)</dd>

        <dt>Saldo restante</dt>
        <dd>@Html.DisplayFor(model => model.collection_balance)</dd>

        <dt>Nota del cobrador</dt>
        <dd>@Html.DisplayFor(model => model.collection_note)</dd>

        <dt>Nombre del cobrador</dt>
        <dd>@($"{Model.Users.user_name} {Model.Users.user_lastname}")</dd>

        <dt>Estado del cobro</dt>
        <dd>@(Model.collection_active ? "Activo" : "Inactivo")</dd>
    </dl>

    @if (Model.collection_active)
    {
        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Desactivar" class="btn btn-default" /> |
                @Html.ActionLink("Atrás", "Details", "Cards", new { id = Model.card_id }, null)
            </div>
        }
    }
    else
    {
        <div class="form-actions no-color">
            @Html.ActionLink("Atrás", "Details", "Cards", new { id = Model.card_id }, null)
        </div>
    }
</div>
