@model SistemaGestionVentas.Models.ViewModels.CardDetailsViewModel

@{
    ViewBag.Title = "Información de la tarjeta y cobros";
}

@{
    int roleId = Convert.ToInt32(Session["RoleId"]);    
    int currentUserId = Convert.ToInt32(Session["UserId"]);
    bool canManageCards = roleId != 3 && currentUserId != Model.Card.Users.user_id;
}

<h2>Información de la tarjeta y cobros</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Día de pago</dt>
        <dd>@Html.DisplayFor(model => model.Card.card_payday)</dd>

        <dt>Monto por pagar</dt>
        <dd>@Html.DisplayFor(model => model.Card.card_payment_amount)</dd>

        <dt>Frecuencia de pago</dt>
        <dd>@Html.DisplayFor(model => model.Card.Frequencies.frequency_description)</dd>

        <dt>Descripción del artículo</dt>
        <dd>@Html.DisplayFor(model => model.Card.card_item)</dd>

        <dt>Precio del artículo</dt>
        <dd>@Html.DisplayFor(model => model.Card.card_item_price)</dd>

        <dt>Vigencia</dt>
        <dd>@(Model.Card.card_state ? "Vigente" : "Cancelada")</dd>

        @if (roleId != 3)
        {
            <dt>Estado de la tarjeta</dt>
            <dd>@(Model.Card.card_active ? "Activo" : "Inactivo")</dd>
        }

        @*<dt>Imagen del artículo</dt>
            <dd>@Html.DisplayFor(model => model.Items.item_name)</dd>*@
    </dl>
</div>

@if (canManageCards)
{
    <p>
        @Html.ActionLink("Editar", "Edit", new { id = Model.Card.card_id })
    </p>
}

<h3>Cobros de la tarjeta</h3>

@if (canManageCards)
{
    <p>
        @Html.ActionLink("Registrar cobro", "Create", "Collections", new { cardId = Model.Card.card_id },
    null)
    </p>
}
<table class="table">
    <tr>
        <th>Fecha</th>
        <th>Monto</th>
        <th>Saldo</th>
        @if (roleId != 3)
        {
            <th>Nota</th>
            <th>Activo</th>
        }
        <th></th>
    </tr>

    @foreach (var collection in Model.Collections)
    {
        <tr>
            <td>@collection.collection_date</td>
            <td>@collection.collection_amount</td>
            <td>@collection.collection_balance</td>
            @if (roleId != 3)
            {
                <td>@collection.collection_note</td>
                <td>@(collection.collection_active ? "Activo" : "Inactivo")</td>
            }

            <td>
                @if (canManageCards)
                {
                    @Html.ActionLink("Editar", "Edit", "Collections", new { id = collection.collection_id }, null) @: |
                }
                @Html.ActionLink("Detalles", "Details", "Collections", new { id = collection.collection_id }, null)
                @if (canManageCards)
                {
                    @: |
                    @Html.ActionLink("Desactivar", "Delete", "Collections", new { id = collection.collection_id }, null)
                }
            </td>
        </tr>
    }

</table>
<p>
    @Html.ActionLink("Atrás", "Details", "Users", new { id = Model.Card.user_id }, null)
</p>
