@model SistemaGestionVentas.Models.Cards

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cards</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.card_payday)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.card_payday)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.card_payment_amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.card_payment_amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.card_item)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.card_item)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.card_item_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.card_item_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.card_state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.card_state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.card_active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.card_active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Frequencies.frequency_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Frequencies.frequency_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Items.item_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Items.item_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.user_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.user_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.card_id })
</p>
<h3>Cobros de la tarjeta</h3>
<p>
    @Html.ActionLink("Agregar Cobro", "Create", "Collections")
</p>
<table class="table">
    <tr>
        <th>Fecha</th>
        <th>Monto</th>
        <th>Saldo</th>
        <th>Nota</th>
        <th>Activo</th>
        <th></th>
    </tr>

    @foreach (var collection in Model.Collections)
    {
<tr>
    <td>@collection.collection_date</td>
    <td>@collection.collection_amount</td>
    <td>@collection.collection_balance</td>
    <td>@collection.collection_note</td>
    <td>@collection.collection_active</td>

    <td>
        @Html.ActionLink("Editar", "Edit", "Collections", new { id = collection.collection_id }, null) |
        @Html.ActionLink("Detalles", "Details", "Collections", new { id = collection.collection_id }, null) |
        @Html.ActionLink("Eliminar", "Delete", "Collections", new { id = collection.collection_id }, null)
    </td>
</tr>}

</table>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
