@model SistemaGestionVentas.Models.Addresses

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Addresses</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.address_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address_latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address_latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address_longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address_longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address_description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address_description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.address_active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.address_active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Users.user_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Users.user_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.address_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
