@model SistemaGestionVentas.Models.Items

@{
    ViewBag.Title = "Información";
}

@{
    int roleId = Session["RoleId"] != null ? Convert.ToInt32(Session["RoleId"]) : 0;
    bool canManage = roleId == 1 || roleId == 2;
}

<h2>Información</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Nombre del producto</dt>
        <dd>@Html.DisplayFor(model => model.item_name)</dd>

        <dt>Imagen</dt>
        <dd><img src="@Url.Content(Model.item_url)" width="300" /></dd>

        <dt>Descripción del producto</dt>
        <dd>@Html.DisplayFor(model => model.item_description)</dd>

        <dt>Álbum</dt>
        <dd>@Html.DisplayFor(model => model.Albums.album_name)</dd>

        @if (canManage)
        {
            <dt>Estado</dt>
            <dd>@(Model.item_active ? "Activo" : "Inactivo")</dd>
        }
    </dl>
</div>
<p>
    @if (canManage)
    {
        @Html.ActionLink("Editar", "Edit", new { id = Model.item_id }) 
        @: |
    }    
    @Html.ActionLink("Atrás", "Details", "Albums", new { id = Model.album_id }, null)
</p>
