@model SistemaGestionVentas.Models.Items

@{
    ViewBag.Title = "Reactivar producto";
}

<h2>Reactivar producto</h2>

<h3>¿Está seguro de reactivar este producto?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Nombre del producto</dt>
        <dd>@Html.DisplayFor(model => model.item_name)</dd>

        <dt>Imagen</dt>
        <dd>@Html.DisplayFor(model => model.item_url)</dd>

        <dt>Descripción del producto</dt>
        <dd>@Html.DisplayFor(model => model.item_description)</dd>

        <dt>Álbum</dt>
        <dd>@Html.DisplayFor(model => model.Albums.album_name)</dd>

        <dt>Estado</dt>
        <dd>@(Model.item_active ? "Activo" : "Inactivo"))</dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Reactivar" class="btn btn-default" /> |
            @Html.ActionLink("Atrás", "Details", "Albums", new { id = Model.album_id }, null)
        </div>
    }
</div>