@model SistemaGestionVentas.Models.Users

@{
    ViewBag.Title = "Crear usuario";
}

<h2>Crear usuario</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.Label("Nombre", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.user_name, new { htmlAttributes = new { @class = "form-control", maxlength = "100", id = "user_name" } })
                <small id="user_name_counter">100 caracteres restantes</small>
                @Html.ValidationMessageFor(model => model.user_name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Apellido", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.user_lastname, new { htmlAttributes = new { @class = "form-control", maxlength = "100", id = "user_lastname" } })
                <small id="user_lastname_counter">100 caracteres restantes</small>
                @Html.ValidationMessageFor(model => model.user_lastname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Apodo", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.user_nickname, new { htmlAttributes = new { @class = "form-control", maxlength = "100", id = "user_nickname" } })
                <small id="user_nickname_counter">100 caracteres restantes</small>
                @Html.ValidationMessageFor(model => model.user_nickname, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Número telefónico", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.user_phone, new { htmlAttributes = new { @class = "form-control", maxlength = "20", id = "user_phone" } })
                <small id="user_phone_counter">20 caracteres restantes</small>
                @Html.ValidationMessageFor(model => model.user_phone, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Nombre dirección", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="address_name" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Latitud", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="address_latitude" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Longitud", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="address_longitude" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Dirección completa", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="address_description" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Correo eléctronico", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.user_email, new { htmlAttributes = new { @class = "form-control", maxlength = "150", id = "user_email" } })
                <small id="user_email_counter">150 caracteres restantes</small>
                @Html.ValidationMessageFor(model => model.user_email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Contraseña", htmlAttributes: new { @class = "control-label col-md-2" })            
            <div class="col-md-10">
                <small class="text-muted">La contraseña debe contener al menos: 8 caracteres, una mayúscula, una minúscula, un número y un símbolo.</small>
                @Html.EditorFor(model => model.user_password, new { htmlAttributes = new { @class = "form-control", maxlength = "20", id = "user_password" } })
                <small id="user_password_counter">20 caracteres restantes</small>
                @Html.ValidationMessageFor(model => model.user_password, "", new { @class = "text-danger" })
            </div>
        </div>

        @if (Convert.ToInt32(Session["RoleId"]) == 1)
        {
            <div class="form-group">
                @Html.Label("Tipo de usuario", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("role_id", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.role_id, "", new { @class = "text-danger" })
                </div>
            </div>
        }

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Crear" class="btn btn-default" />
            </div>
        </div>

        <span class="text-danger">
            @ViewBag.Error
        </span>
    </div>
}

<div>
    @Html.ActionLink("Atrás", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/FormValidation.js"></script>
}
