@model SistemaGestionVentas.Models.Albums

@{
    ViewBag.Title = "Fotos";
}

<h2>Fotos</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Nombre del álbum</dt>
        <dd>@Html.DisplayFor(model => model.album_name)</dd>

        <dt>Estado</dt>
        <dd>@(Model.album_active ? "Activo" : "Inactivo")</dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar álbum", "Edit", new { id = Model.album_id })
</p>

<h3>Fotos del álbum</h3>
<p>
    @Html.ActionLink("Agregar Item", "Create", "Items")
</p>
<table class="table">
    <tr>        
        <th>Nombre</th>
        <th>Foto</th>        
        <th>Activo</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Items)
    {
<tr>    
    <td>@item.item_name</td>
    <td>@item.item_url</td>    
    <td>@item.item_active</td>

    <td>
        @Html.ActionLink("Editar", "Edit", "Items", new { id = item.item_id }, null) |
        @Html.ActionLink("Ver descripción", "Details", "Items", new { id = item.item_id }, null) |
        @Html.ActionLink("Eliminar", "Delete", "Items", new { id = item.item_id }, null)
    </td>
</tr>}

</table>

<p>
    @Html.ActionLink("Atrás", "Index")
</p>
