@model IEnumerable<SistemaGestionVentas.Models.Albums>
@using PagedList.Mvc

@{
    ViewBag.Title = "Lista de álbumes";
}

<h2>Álbumes</h2>

<p>
    @Html.ActionLink("Crear álbum", "Create")
</p>
<table class="table">
    <tr>
        <th>Nombre</th>
        <th>Estado</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.album_name)</td>
            <td> @(item.album_active ? "Activo" : "Inactivo")</td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.album_id }) |
                @Html.ActionLink("Ver fotos", "Details", new { id = item.album_id }) |
                @Html.ActionLink("Desactivar", "Delete", new { id = item.album_id })
            </td>
        </tr>
    }

</table>
